<div class="row" id="leaderboard_nav">
	<div class="small-4 columns">
		<%= link_to "Tournaments", tournaments_path  %>
	</div>
	<div class="small-4 columns">
		<%= link_to "Putts", tournaments_path  %>
	</div>
	<div class="small-4 columns">
		<%= link_to "Tee Times", tournaments_path  %>
	</div>
</div>