<div id="menu-wrapper">
	<div class="visible-menu">
		<ul class="menu-bars">
			<li class="first">
				<%= link_to '', user_path(current_user.id)  %>
			</li>
			<li class="second"></li>
			<li class="third"></li>
		</ul>
	</div>
</div>


