<div class="row expanded align-middle login-page">
  <div class="columns">
    <h5 class='text-center'>Forgot your password?</h5>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="row align-center field-info">
        <div class="small-10 columns field">
          <%= f.email_field :email, placeholer: 'email', autofocus: true, class: 'label-login' %>
        </div>
        <div class="small-10 columns actions">
          <%= f.submit "Send reset instructions", class: 'button expanded' %>
        </div>

      </div>
    <% end %>

  </div>
</div>

