<div class="row tourn-edit-form">
	<div class="small-12 small-centered columns">
		<%= @tournament.name %>
	</div>
	<div class="small-12 small-centered columns">
		<%= @tournament.year %>
	</div>
</div>
