<div class="row" id="tourn-history-container">
	<div class="row back"><%= link_to 'BACK', url_for(:back) %></div>
	<div class="row align-center" id="tourn-history-header">
		<div class="small-12 align-middle align-center columns" id="tourn-history-name">
			<h1><%= @tournaments[0].nil?.! ? @tournaments[0].name : 'Bandon'%> </h1>
			<h1 id="hist-name">Tournament History</h1>
		</div>
	</div>
	<% @tournaments.each do |t|  %>
	<div class="row align-center" id="tourn-history-list">
		<div class="small-10lin medium-6 large-4 columns" id="list-item">
			<h1><%= link_to t.year, stroke_leaderboard_tournament_path(t.id) %></h1>
		</div>
	</div>
	<% end %>
</div>