<div class="row tournament-index">

  <div class="row expanded tourn-index-header" id="tourn-index-header">
    <div class="column align-self-bottom" id="tourn-header">
      <h1>Bandon History</h1>
    </div>
  </div>

  <div class="row expanded" id="index-link-container">

    <div class="columns">
      <% @tournaments.each do |tournament| %>
        <%= link_to(tournament_path(tournament.id)) do %>
        <div class="row expanded align-middle show-link" id="home-links">
          <div class="small-8 columns home-button-left" id="button-left-side">
            <p><%= tournament.year %></p>
          </div>
          <div class="small-4 columns text-center home-button-right">
            <%= image_tag("arrow-30-16.png", class: 'home-icon')%>
          </div>
        </div>
        <% end %>

      <% end %>
    </div>

  </div>
</div>
