<div class="row tournament-container">
	<div class="small-12 medium-4 columns" id="current-tournament">
		<div class="tourn-layer">
			<h1><%= link_to 'Current Tournament', tournament_path(@tournament) %></h1>
		</div>
	</div>
	<div class="small-12 medium-4 columns" id="history-tourn-button">
		<div class="tourn-layer">
			<h1><%= link_to 'Tournament History', history_tournaments_path %></h1>
		</div>
	</div>
	<div class="small-12 medium-4 columns" id="tournament-courses">
		<div class="tourn-layer">
			<h1><%= link_to "Courses", courses_path %></h1>
		</div>
	</div>
</div>
