<div class="row home-page">
  <div class="columns">

    <div class="row expanded align-bottom text-center home-top">
	    <div class="columns">
		    <h5>TOURNEY</h5>
	    </div>
    </div>

    <div class="row align-middle align-center home-bottom">
    	<div class="small-10 medium-6 large-3 columns" id="login-wrapper">
    		<div id="login-square">
    		  <%= link_to "Log In", "users/sign_in", class: 'button expanded' %>
    		</div>
    	</div>
    </div>

  </div>
</div>