<div class="row align-center align-middle home-page">
	<div class="small-11 columns title">
		<h1>TOURNEY</h1>
	</div>
	<div class="small-11 medium-6 large-3 columns" id="login-wrapper">
		<div id="login-square">
		  <%= link_to "Log In", "users/sign_in", class: 'login-bttn' %>
		</div>
	</div>
  <!-- <div class="small-11 medium-6 large-3 columns" id="login-wrapper">
    <div id="login-square">
      <%= link_to "JBS Sign Up", new_user_registration_path, class: 'login-bttn' %>
    </div>
  </div> -->
</div>