<div class="row home-page text-center align-center  align-middle">
  <div class="small-12 columns">
    <h5>TOURNEY</h5>
  </div>
  <div class="small-6 columns">
    <%= link_to "Log In", "users/sign_in", class: 'button expanded home-button' %></p>
  </div>
</div>