<div class="row expanded">
  <div class="small-12 columns align-center">
    <h2>This Years Players</h2>
  </div>
</div>
<div class="row expanded">
  <div class="medium-6 columns">
  <% @invited.each do |invite| %>
    <p><%= invite.first_name %> <%= invite.last_name %></p>
  <% end %>
  </div>

  <div class="medium-6 columns">
  <% @accpeted.each do |invite| %>
    <p><%= invite.first_name %> <%= invite.last_name %></p>
  <% end %>
  </div>
</div>