// @import 'foundation';
@import 'foundation_and_overrides';
@import 'foundation-icons';
@import 'main';
@import 'login';
@import 'users';
@import 'home';
@import 'courses';
@import 'tournaments';
@import 'rounds';
@import 'navbar';

.row .row {
	margin-left: 0;
  margin-right: 0;
}
p { margin: 0; }
// .columns { padding-left: 0; padding-right: 0; }
li {
	list-style: none;
}
a {
	display: block;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
	opacity: 0.5;
}