// Courses SCSS
// Index Page
.nc-index {
  width: 100%;
  height: 100%;

  a {
    width: 100%;
    height: 33%;
    .img-container {
      width: 100%;
      height: 100%;
      background-color: pink;
      border-bottom: 1px solid $black;
      div { height: 100%; }
      h1 {
        margin: 0;
      }
    }
  }

}

.courses-container {
	width: 100%; height: 100%;
	position: absolute;
}
// .row .back {
//   width: 50px; height: 50px;
//   position: absolute;
//   z-index: 100;
//   top: 0;
//   border: 2px solid rgba(45, 45, 46, .9);
//   a {
//     color: $black;

//   }
// }
.courses-link {
	width: 100%; height: 25%;
}
.course-layer {
	width: 100%; height: 100%;
	background-color: rgba(45,45,46, .8);
	box-shadow: 0 0 1px 0 #000000;
	position: absolute;
}
#Pacific-Dunes-index {
  width: 100%; height: 100%;
  background: url('Pacific-Dunes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Bandon-Dunes-index {
  width: 100%; height: 100%;
  background: url('Bandon-Dunes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Bandon-Trails-index {
  width: 100%; height: 100%;
  background: url('Bandon-Trails.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Old-Mac-index {
  width: 100%; height: 100%;
  background: url('Old-MacDonald.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Pacific-Dunes {
	width: 100%; height: 25%;
	background: url('Pacific-Dunes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Bandon-Dunes{
	width: 100%; height: 25%;
	background: url('Bandon-Dunes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Bandon-Trails {
	width: 100%; height: 25%;
	background: url('Bandon-Trails.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Old-Mac {
	width: 100%; height: 25%;
	background: url('Old-MacDonald.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
h1 {
	font-size: 30px;
	color: rgba(255,255,255,.9);
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}
h1 a {
	color: rgba(255, 255, 255, .9);
}
a { width: 100%; height: 100%; }

// SHOW PAGE
.course-container {
 	width: 100%; height: 100%;
	background-color: rgba(255,255,255,.9);
	position: absolute;
}
.course-header {
  width: 100%; height: 50%;
  position: relative;
}
h1#course-title {
	margin-top: -30px;
	font-size: 30px;
}
// .back a {
// 	margin-top: 10px;
// 	color: #fff;
// 	z-index: 110;
// }
#Bandon-Dunes-show{
	width: 100%; height: 100%;
	background: url('Bandon-Dunes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Pacific-Dunes-show {
	width: 100%; height: 100%;
	background: url('Pacific-Dunes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Bandon-Trails-show {
	width: 100%; height: 100%;
	background: url('Bandon-Trails.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Old-Mac-show {
	width: 100%; height: 100%;
	background: url('Old-MacDonald.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.row #course-stats {
	width: 100%; height: 100px;
	position: absolute;
	bottom: 0px;
	padding: 15px 0 0 40px;
	background-color:  rgba(45, 45, 46, .4);
	color: rgb(255, 255, 255);
}
.row #course-stats-top {
	width: 100%; height: 50%;
	position: relative;
  text-align: center;
  padding-bottom: 10px;
}
#course-stats h2 {
	margin: 0;
	font-size: 24px;
}
#course-stats-bottom {
	width: 100%; height: 50%;
	// position: relative;
	text-align: center;
	padding-bottom: 20px;

}
#course-stats-body {
	width: 100%; height: 50%;
	padding: 0 15px;
}
#stats-body-top {
	width: 100%; height: 34%;
	color: #999;
	padding: 20px 0;
}
.center-text { text-align: center; }
.right-text { text-align: right; }
.left-text { text-align: left; }
#hardest-hole { width: 100%; height: 100%; }
#easiest-hole { width: 100%; height: 100%; }
#stats-body-middle {
	width: 100%; height: 20%;
	color: #999;
	padding-top: 10px;
}
#stats-body-bottom {
	width: 100%; height: 46%;
	color: #999;
	// padding-top: 10px;
}

