html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; font-family: 'Cinzel', serif; }
#main-container { width: 100%; height: 100%; }
.container { margin: 0; padding: 0; }
.row { margin: 0; padding: 0; }
h1 { font-family: 'Cinzel', serif;}
h2 { font-family: 'Cinzel', serif;}
h3 { font-family: 'Cinzel', serif;}
h5 { font-family: 'Cinzel', serif; font-size: 1rem; }
.error-alert { z-index: 1000; }
p #user-email {
	padding-top: 20px;
	width: 25%;
	margin: 0;
}
.handicaped-holes {
	position: absolute;
	right: 10px;
	top: -5px;
}
.two-stroke::after {
	display: block;
}
.one-stroke::after {
	display: block;
}
.skin-won {
  background-color: red;
}
.net-skin-won {
  background-color: green;
}
a h5.admin-link {
  color: #333;
}
#player a {
  color: #f1f1f1;
}
#delete-button a {
  color: #333;
}

// Menu Styles
$button-height: 26px;
$button-width: 35px;
$color-main: #f1f1f1;
$color-active: #FFF;
$color-link: #FFF;
$nav-blue: rgb(7,127,137);

.back-container {
  position: fixed;
  top: 0;
  left: 2%;
  height: $button-height;
  width: $button-width;
  // width: 50px; height: 20px;
  // position: fixed;
  z-index: 500;
  padding: 10px 0 0 10px;
  a {
    color: #666;
    margin: 0;

  }
}
nav a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: $color-main;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 0px;

  &:after {
    content: '';
    position: absolute;
    background: $color-main;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
  }
  &:hover:after,
  &:focus:after,
  &:active:after {
    width: 100%;
  }
}


span {
  background: #666;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

  &:nth-of-type(2) {
    top: 6px;
  }

  &:nth-of-type(3) {
    top: 12px;
  }
}

span {
  &.top {
    width: 26px;
  }
  &.middle {
    // background-color: rgb(7,127,137);
    width: 26px;
  }
  &.bottom {
    width: 26px;
  }

}

.button_container {
  position: fixed;
  top: 0;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 1000;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(6px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-6px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
}
.overlay {
  position: fixed;
  // background: rgb(39,94,159);
  background: rgb(7,127,137);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 900;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}