html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; }
#main-container { width: 100%; height: 100%; }
.container { margin: 0; padding: 0; }
.row { margin: 0; padding: 0; }


p #user-email {
	padding-top: 20px;
	width: 25%;
	margin: 0;
}
.handicaped-holes {
	position: absolute;
	right: 10px;
	top: -5px;
}
.two-stroke::after {
	display: block;
}
.one-stroke::after {
	display: block;
}
.skin-won {
  background-color: red;
}
.net-skin-won {
  background-color: green;
}
