// INDEX
.tournament-admin {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.tourn-admin-head {
  width: 100%;
  height: 120px;
  h3 {
    color: #fff;
    margin: 0;
  }

}

#admin-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(7,127,137);

  a {
    color: #f1f1f1;
  }
}
.admin-footer {
  color: #fff;
  width: 25%;
  border-right: 1px solid #fff;
  &:last-child {
    border-right: none;
  }
}
.admin-player-list {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #999;

}
.admin-list {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;

}
.admin-header {
  width: 100%;
  height: 40px;
  padding: 5px;
  border-bottom: 1px solid #999;
}

// TEE TIMES
.tee-time-list {
  width: 100%;
  // height: 100%;
}


// Invitation New
.invite-form {
  background-color: $light-gray;
  width: 100%;
  height: 100%;
}

// Invitation Accept Page
.accept-page {
  background-color: rgba(237,131,47,1);
}
