// Scorecard - Round
#scorecard-container {
	width: 100%; height: 100%;
	background-color: #EEEEEE;
	position: absolute;
}
#sc-header {
	width: 100%; height: 100px;
	background-color: #616161;
	color: white;
	top: 0;
	left: 0;
	z-index: 100;
	position: fixed;
}
#top-header-row { width: 100%; height: 50px; }
#bottom-header-row { width: 100%; height: 50px;}
#sc-title {
	text-align: center;
}
#front-nine-container {
	width: 100%; height: 400px;
  background-color: #E0E0E0;
  margin-top: 100px;
}
#front-nine-holes {
	width: 100%; height: 30px;
	background-color: #BDBDBD;
	text-align: center;
}
#front-nine-pars {
	width: 100%; height: 30px;
	background-color: #E0E0E0;
	text-align: center;
}
#out {
	text-align: center;
}
#front-nine-shots {
	width: 100%; height: 70px;
	background-color: #F5F5F5;
	text-align: center;
}
#front-nine-putts {
	width: 100%; height: 70px;
	background-color: #FAFAFA;
	// border: 1px solid #BDBDBD;
	text-align: center;
}
.round-show { height: 70px;}
.hole-input {
	padding-top: 25px;
	height: 70px;
	border-left: 1px solid #9E9E9E;
}
.hole-input:first-child {
	border-left: none;
}
.hole-input p {
	transform: rotate(270deg);
}

// ROUND EDIT FORM
#round-container { background-color: #616161; }
.edit_round { width: 100%; }
.edit-round-form { width: 100%; }
.hole-input_edit {
	height: 70px;
	padding-top: 25px;
}
.putts-border {
	border-left: 1px solid #9E9E9E;
	border-top: 1px solid #9E9E9E;
}
.putts-border:first-child { border-left: none;}
.shots-border { border-left: 1px solid #9E9E9E; }
.left-border { border-left: none;}
.hole-input_edit p {
  transform: rotate(270deg);
}
input.score {
	width: 37px; height: 50px;
	text-align: center;
  background-color: #F5F5F5;
	border: none;
	padding-left: 10px;
}
input:focus { outline: none;}
input.putts {
	background-color: #FAFAFA;
}
.remove-padding { padding-top: 10px; }
#round-nav {
	width: 100%;
	padding: 10px 0;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	color: #616161;
	font-size: 20px;
	background-color: #BDBDBD;
}
.round-submit {
	color: #545454;
	background-color: transparent;
	border: none;
}
#round-nav a { color: #616161; }
// Rounds List
#tourn-rnds-list {
	width: 100%; height: 100%;
	background-color: #EEEEEE;
}
#sc-list-header {
	width: 100%; height: 110px;
	background-color: #424242;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	z-index: 10;

}
#sc-list-title {
	text-align: center;
}
#sc-header {
	text-align: center;
}
#round-list-container {
	width: 100%;
	height: calc(100% - 160px);
	overflow-y: scroll;
	margin: 110px 0 50px;
}
#scorecard-link-wrapper {
	width: 100%; height: 33%;
	background-color: #81C784;
	color: white;
	text-align: center;
	// position: relative;
}

#sc-tourn {
	text-align: center;
}
#round-link h5 {
	width: 100%;
}
#round-link a {
	background-size: 100%;
	color: white;
	display: block;
}
#rounds-list-nav {
	width: 100%; height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: #424242;
}
