.tournament-container {
	width: 100%; height: 100%;
	position: absolute;

}
#current-tournament {
	max-width: 100%; height: 34%;
	background: url('IMG_0054.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.tourn-layer {
	width: 100%; height: inherit;
	background-color: rgba(45,45,46, .6);
	position: absolute;
	box-shadow: 0 0 1px 0 #000000;
}
h1 {
	font-size: 30px;
	color: rgba(255,255,255,.9);
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#history-tourn-button {
	width: 100%; height: 33%;
	background: url('IMG_0043.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
 h1 a {
	color: rgba(255, 255, 255, .9);
}
a { width: 100%; height: 100%; }
#tournament-courses {
	width: 100%; height: 33%;
	background: url('IMG_0064.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
//
// Stroke Leaderboard
//
#tourn-show-page {
	background-color: #EEEEEE;
}
#stroke-lb-header {
	width: 100%; height: 100px;
	background-color: rgba(56,162,247, 1);
	position: fixed;
	top: 0;
	z-index: 1;
	// padding-top: 10px;
	box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 0px 6px rgba(0,0,0,0.23);
}
#putting-lb-header {
	width: 100%; height: 100px;
	background-color: rgba(237,131,47,1);
	position: fixed;
	top: 0;
	z-index: 1;
}
#title-header {
	width: 100%; height: 70px;
}
#tournament-name p {
	padding: 10px 0 0 10px;
	font-size: 16px;
	color: white;
	text-align: left;
	letter-spacing: .5px;
}
p#purse-total {
	padding: 0 0 0 10px;
	font-size: 14px;
	color: white;
	text-align: left;
	letter-spacing: .5px;
}

#tournament-purse p {
	padding: 10px 10px 0 0;
	font-size: 16px;
	color: white;
	text-align: center;
}
#stroke-lb-title {
	padding-top: 10px;
	text-align: center;
	color: white;
}
#tournament-year {
	padding-left: 5px;
}
#tournament-name { padding-left: 5px; }
#purse-year {
	width: 100%; height:	40px;
}
#putting-lb-title {
	padding-top: 10px;
	text-align: center;
	color: white;
}
#stroke-lb-container {
	width: 100%;
	padding: 0 5px;
	overflow-y: scroll;
	background-color: #E0E0E0;
	position: relative;
	display: block;
}
#lb-header {
	width: 100%; height: 40px;
	background-color: inherit;
	color: #f1f1f1;
	z-index: 1;

}
#tournament-year {
	height: 60px;
}
#tournament-purse {
	height: 30px;
}
#net-total {
	text-align: center;
}
.lb {
	text-align: center;
}
.lb a {
	color: #fff;
}
#lb-player {
	width: 100%; height: 50px;
	background-color: white;
	top: 115px;
	padding: 10px 0;
	position: relative;
	display: block;
	box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);

}
#player {
	padding-left: 5px;
}
#player h5 {
	font-size: 16px;
}
#player span {
	color: #666;
	font-size: 14px;
	padding-left: 5px;
}
#lb-total-score {
	text-align: center;
}
#leaderboard_nav {
	width: 100%; height: 50px;
	background-color: rgba(56,162,247, 1);
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	color: white;
}
.tourn-links {
	text-align: center;
	border-left: 1px solid rgba(255,255,255,1);
}
.tourn-links:first-child {
	border-left: none;
}
.tourn-links:last-child {
	padding-left: 10px;
}
.tourn-links a {
	color: white;
}
#putting-nav {
	width: 100%; height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	color: white;
	background-color: rgba(237,131,47,1);
}
// TEE-TIMES
#tee-times-header {
	width: 100%; height: 100px;
	background-color: #F44336;
	z-index: 1;
	position: fixed;
	padding-top: 10px;
}
#tee-times-wrapper {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 10px;
}
#times {
	font-size: 20px;
}
#players {
	padding: 5px 0;
}
#tee-time-container {
	width: 100%;
	background-color: #F1F1F1;
	position: relative;
	display: block;
}
.inner-height {
	height: 50px;
}
#tee-time-cont-header {
	width: 100%;
	background-color: #9E9E9E;
	color: white;
	text-align: center;
}
#tee-time-list {
	width: 100%; height: 130px;
	background-color: white;
	margin: 5px 0;
	text-align: center;
}
#players p {
	font-size: 20px;
}

// History List
#tourn-history-container {
	width: 100%; height: 100%;
	background-color: #424242;
}
#tourn-history-header {
	width: 100%; height: 300px;
}
#tourn-history-name {
	text-align: center;
}
#tourn-history-name h1 {
	color: rgba(56,162,247, 1);
}
#hist-name h1 {
	color: rgba(56,162,247, 1);
}
#tourn-history-list {
	width: 100%; height: 100px;
}
#list-item a {
	width: 100%; height: 100px;
	color: white;
}





