// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tourn-main { 
	text-align: center;
}

h1.tourn-header {
	text-align: center;
	
}

.tourn-main-section {
	width: 100%; height: 100%;
	
}