// Profile CSS
#user-profile {
	width: 100%; height: 100%;
	background-color: #545454;
}
#user-profile-top {
	width: 100%; height: 200px;
}
.layer {
	width: inherit; height: inherit;
	border-radius: 50%;
	background-color: rgba(46,46,45, .3);
	position: absolute;
}
.fi-marker { font-size: 30px; color: rgba(56, 162,247,1); text-align: center; }
#user-profile-image span {
	font-size: 18px;
	color: rgba(255,255,255, .8);
	text-align: center;
}
#user-profile-info p {
	font-size: 20px;
	color: rgba(255,255,255, .8);
}
#user-profile-info span {
	font-size: 16px;
	color: rgba(255,255,255, .8);
}
#user-image {
	width: 110px; height: 110px;
	border-radius: 50%;
	background: url('joel.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
div#user-image { margin: 0 auto -10px; }
#profile-username {
	margin-bottom: 0px;
}
#user-home {
	text-align: center;
}
#user-handicap {
	font-size: 16px;
}
#user-handicap span {
	color: rgba(56, 162,247,1);
	font-size: 18px;
}
#user-profile-middle {
	background-color: rgba(56, 162,247,1);
	width: 100%; height: calc(100% - 250px);
}
#best-round {
	width: 100%;
	padding-left: 30px;
	color: #545454;
}
#best-round p {
	font-size: 20px;
}
#best-round h5 {
	font-size: 26px;
}
#best-round h5 span {
	color: white;
}
#best-putting {
	width: 100%;
	padding-left: 30px;
	color: #545454;
}
#best-putting p {
	font-size: 20px;
}
#best-putting h5 {
	font-size: 26px;
}
#best-putting h5 span {
	color: white;
}
#profile_nav {
	width: 100%; height: 50px;
	background-color: #545454;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1000;
	color: white;
}
